<h1><%= @article.title %></h1>
<%= @article.content %>
<br><br>
<%= link_to "Edit the content of this article", edit_article_path  %>
<br>
<%= link_to "Delete this article", article_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<div>
<%= link_to "See all articles", articles_path  %>
</div>
